<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.fooddeuk">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>

  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:name=".GlobalApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <uses-library android:name="com.google.android.maps"/>

    <!-- GOOGLE -->
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyBeKb_CfUjnWK0nrZ24kdlqj3GA8hH3suw"/>
    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>
    <!-- FACEBOOK -->
    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/facebook_app_id"/>
    <!-- KAKAO -->
    <meta-data
      android:name="com.kakao.sdk.AppKey"
      android:value="@string/kakao_app_key"/>

    <activity android:name=".activity.IntroActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:exported="true"
      android:name=".activity.MainActivity">

      <!-- <intent-filter> -->
      <!-- &lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt; -->
      <!-- &lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt; -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".map.LocationSettingByMapActivity"/>
    <activity
      android:exported="true"
      android:label="@string/title_activity_maps"
      android:name=".order.OrderActivity"/>
    <activity
      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
      android:label="@string/app_name"
      android:name="com.facebook.FacebookActivity"/>
    <activity
      android:exported="true"
      android:name="com.facebook.CustomTabActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="@string/fb_login_protocol_scheme"/>
      </intent-filter>
    </activity>
    <activity android:name=".restaurant.detail.DetailRestaurantActivity"/>
    <activity android:name=".restaurant.detail.DetailReviewImageActivity"/>
    <activity android:name=".cart.CartActivity"/>

    <service android:name=".util.MyFirebaseMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <service android:name=".util.MyFirebaseInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_channel_id"
      android:value="@string/default_notification_channel_id"/>

    <activity
      android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <activity
      android:label="OAuth2.0 In-app"
      android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"/>
    <activity android:name=".map.MapActivity"/>
    <activity android:name=".activity.CurrentOrderActivity"/>
    <activity android:name=".order_history.OrderHistoryMapActivity"/>
    <activity android:name=".activity.LoginActivity"/>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="986e4bbd6dc0c418fd293489d5b081c35f1f2a4a"/>

    <activity android:name=".activity.SerachActivity"/>
    <activity android:name=".activity.ReviewActivity"/>
    <activity android:name=".order_history.OrderHistoryActivity">
    </activity>
  </application>

</manifest>